.app {
  padding: 20px;
}

.panel {
  float: left;
  width: calc(50% - 100px);
  margin: 25px;
  border: 1px solid black;
  padding: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
